{% if  mikrotik_static_routes_remove_old_routes == true %}
/ip route remove [/ip route find where static=yes ]
{% endif %}


{% if mikrotik_static_routes[0] is defined %}

# Remove not defined
/ip route remove [/ip route find where !(\
{% for route in mikrotik_static_routes %}
{% if not loop.first %} or {% endif %}(\
dst-address="{{ route.dst_address }}" \
and gateway="{{ route.gateway | join(',') }}" \
and comment="Ansible managed: [{{ route.comment }}]" {% if route.bgp_as_path is defined %} \
and bgp-as-path={{ route.bgp_as_path }} {% endif %} {% if route.bgp_atomic_aggregate is defined %}  \
and bgp-atomic-aggregate={{ route.bgp_atomic_aggregate }} {% endif %} {% if route.bgp_communities is defined %} \
and bgp-communities={{ route.bgp_communities }} {% endif %} {% if route.bgp_local_pref is defined %}  \
and bgp-local-pref={{ route.bgp_local_pref }} {% endif %} {% if route.bgp_med is defined %} \
and bgp-med={{ route.bgp_med }} {% endif %} {% if route.bgp_origin is defined %} \
and bgp-origin={{ route.bgp_origin }} {% endif %} {% if route.bgp_prepend is defined %} \
and bgp-prepend={{ route.bgp_prepend }} {% endif %} {% if route.check_gateway is defined %} \
and check-gateway={{ route.check_gateway }} {% endif %} {% if route.disabled is defined %} \
and disabled={{ route.disabled | bool | ternary('yes', 'no') }} {% endif %} {% if route.distance is defined %} \
and distance={{ route.distance }}  {% endif %} {% if route.pref_src is defined %} \
and pref-src={{ route.pref_src }} {% endif %} {% if route.route_tag is defined %} \
and route-tag={{ route.route_tag }} {% endif %} {% if route.routing_mark is defined %} \
and routing-mark={{ route.routing_mark }} {% endif %} {% if route.scope is defined %} \
and scope={{ route.scope }} {% endif %} {% if route.target_scope is defined %} \
and target-scope={{ route.target_scope }} {% endif %} {% if route.type is defined %} \
and type={{ route.type }} {% endif %}
) \
{% endfor %}
) and static=yes]


# Add all values
{% for route in mikrotik_static_routes %}
:if ([/ip route find \
dst-address="{{ route.dst_address }}" \
and gateway="{{ route.gateway | join(',')}}" \
and comment="Ansible managed: [{{ route.comment }}]" {% if route.bgp_as_path is defined %} \
and bgp-as-path={{ route.bgp_as_path }} {% endif %} {% if route.bgp_atomic_aggregate is defined %}  \
and bgp-atomic-aggregate={{ route.bgp_atomic_aggregate }} {% endif %} {% if route.bgp_communities is defined %} \
and bgp-communities={{ route.bgp_communities }} {% endif %} {% if route.bgp_local_pref is defined %}  \
and bgp-local-pref={{ route.bgp_local_pref }} {% endif %} {% if route.bgp_med is defined %} \
and bgp-med={{ route.bgp_med }} {% endif %} {% if route.bgp_origin is defined %} \
and bgp-origin={{ route.bgp_origin }} {% endif %} {% if route.bgp_prepend is defined %} \
and bgp-prepend={{ route.bgp_prepend }} {% endif %} {% if route.check_gateway is defined %} \
and check-gateway={{ route.check_gateway }} {% endif %} {% if route.disabled is defined %} \
and disabled={{ route.disabled | bool | ternary('yes', 'no') }} {% endif %} {% if route.distance is defined %} \
and distance={{ route.distance }}  {% endif %} {% if route.pref_src is defined %} \
and pref-src={{ route.pref_src }} {% endif %} {% if route.route_tag is defined %} \
and route-tag={{ route.route_tag }} {% endif %} {% if route.routing_mark is defined %} \
and routing-mark={{ route.routing_mark }} {% endif %} {% if route.scope is defined %} \
and scope={{ route.scope }} {% endif %} {% if route.target_scope is defined %} \
and target-scope={{ route.target_scope }} {% endif %} {% if route.type is defined %} \
and type={{ route.type }} {% endif %}] = "") do={
:log info "Add static route: {{ route.dst_address }} via {{ route.gateway }}..."
/ip route add \
  dst-address="{{ route.dst_address }}" \
  gateway="{{ route.gateway | join(',') }}" \
  comment="Ansible managed: [{{ route.comment }}]" {% if route.bgp_as_path is defined %} \
  bgp-as-path={{ route.bgp_as_path }} {% endif %} {% if route.bgp_atomic_aggregate is defined %}  \
  bgp-atomic-aggregate={{ route.bgp_atomic_aggregate }} {% endif %} {% if route.bgp_communities is defined %} \
  bgp-communities={{ route.bgp_communities }} {% endif %} {% if route.bgp_local_pref is defined %}  \
  bgp-local-pref={{ route.bgp_local_pref }} {% endif %} {% if route.bgp_med is defined %} \
  bgp-med={{ route.bgp_med }} {% endif %} {% if route.bgp_origin is defined %} \
  bgp-origin={{ route.bgp_origin }} {% endif %} {% if route.bgp_prepend is defined %} \
  bgp-prepend={{ route.bgp_prepend }} {% endif %} {% if route.check_gateway is defined %} \
  check-gateway={{ route.check_gateway }} {% endif %} {% if route.disabled is defined %} \
  disabled={{ route.disabled | bool | ternary('yes', 'no') }} {% endif %} {% if route.distance is defined %} \
  distance={{ route.distance }}  {% endif %} {% if route.pref_src is defined %} \
  pref-src={{ route.pref_src }} {% endif %} {% if route.route_tag is defined %} \
  route-tag={{ route.route_tag }} {% endif %} {% if route.routing_mark is defined %} \
  routing-mark={{ route.routing_mark }} {% endif %} {% if route.scope is defined %} \
  scope={{ route.scope }} {% endif %} {% if route.target_scope is defined %} \
  target-scope={{ route.target_scope }} {% endif %} {% if route.type is defined %} \
  type={{ route.type }} {% endif %}
}
{% endfor %}

{% endif %}
